<!-- graph control buttons -->
<div class="col-xs-12 col-sm-12 col-lg-12 text-center mt-4">
    <button (click)='resetGraph()' type="button" class="btn btn-primary mx-2 reset" > 
        <i class="fa fa-repeat mx-1" aria-hidden="true"></i>Reset Graph</button>

    <button (click)='export()' type="button" class="btn btn-primary mx-2 export"> 
        <i class="fa fa-download mx-1" aria-hidden="true"></i>Export Graph</button>

    <button (click)='saveVersion()' type="button" class="btn btn-primary save"> 
        <i class="fa fa-floppy-o mx-1" aria-hidden="true"></i>Save Graph Version</button>

    <!-- version dropdown -->
    <span *ngIf='versionArray.length>0' class="versionClass">
    <select [(ngModel)]='selectedVersion' (change)="changeVersion($event)">
        <option value='' disabled>Select Version</option>
        <option *ngFor="let version of versionArray" value="{{version.id}}">{{version.id}}</option>
    </select>
    </span>
</div>
<!-- add node/edge section -->
<div class="container mt-4">
    <div class="row">
        <!-- add node section-->
        <div class="col-md-6 nodeDiv">
            <!-- add node form -->
            <form novalidate (ngSubmit)="addNode()" #nodeForm="ngForm">
                <!-- node title -->
                <div class="form-group row mb-3">
                    <label for="nodeTitle" class="col-sm-3 col-form-label">Node Title <span class="text-danger">&nbsp;*</span></label>
                    
                    <div class="col-sm-9">
                        <input type="text" class="form-control col-sm-10" name="nodeTitle"
                            [(ngModel)]="params.node.title" required #nodeTitle="ngModel">
                        <div class="form-control-feedback text-danger"
                            *ngIf="nodeTitle.errors && (nodeTitle.dirty || nodeTitle.touched)">
                            <p *ngIf="nodeTitle.errors.required">First name is required</p>
                        </div>
                    </div>

                </div>

                <!-- Module type -->
                <div class="form-group row mb-3">
                    <label for="moduleType" class="col-sm-3 col-form-label">Modue Type <span class="text-danger">&nbsp;*</span></label>
                    
                    <div class="col-sm-9">
                        <select class="form-control" required name="moduleType" [(ngModel)]="params.node.moduleType"
                            #moduleType="ngModel">
                            <option value="">Please select a module</option>
                            <option value="alerts">Alerts</option>
                            <option value="incidents">Incidents</option>
                            <option value="indicators">Indicators</option>
                        </select>
                        <div class="form-control-feedback text-danger"
                            *ngIf="moduleType.errors && (moduleType.dirty || moduleType.touched)">
                            <p *ngIf="moduleType.errors.required">Module Type is required</p>
                        </div>
                    </div>
                </div>
                <!-- color picker -->
                <div class="form-group row mb-3">
                    <label for="colorPickerfield" class="col-sm-3 col-form-label">Select Color</label>
                    <div class="col-sm-9">
                        <input name="colorPickerfield" [(colorPicker)]="params.node.color"
                            [value]="params.node.color" />
                        <span class="colorPoint" [style.background]="params.node.color"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="nodeForm.invalid">Add Node
                </button>
            </form>
        </div>

        <!-- add edge section -->
        <div class="col-md-6">
            <!-- add node form -->
            <form novalidate (ngSubmit)="addEdge()" #edgeForm="ngForm">
                <!-- from edge -->
                <div class="form-group row mb-3">
                    <label for="fromDropdown" class="col-sm-3 col-form-label">From <span class="text-danger">&nbsp;*</span></label>
                    
                    <div class="col-sm-9">
                        <select class="form-control" required name="fromDropdown" [(ngModel)]="params.edge.from"
                            #fromDropdown="ngModel">
                            <option value="">Please select a node</option>
                            <option *ngFor="let node of nodeData" [ngValue]="node.id">{{node.title}}</option>
                        </select>
                        <div class="form-control-feedback text-danger"
                            *ngIf="fromDropdown.errors && (fromDropdown.dirty || fromDropdown.touched)">
                            <p *ngIf="fromDropdown.errors.required">Module Type is required</p>
                        </div>
                    </div>
                </div>
                <!-- to edge -->
                <div class="form-group row mb-3">
                    <label for="toDropdown" class="col-sm-3 col-form-label">To <span class="text-danger">&nbsp;*</span></label>
                    <div class="col-sm-9">
                        <select class="form-control" required name="toDropdown" [(ngModel)]="params.edge.to"
                            #toDropdown="ngModel">
                            <option value="">Please select a node</option>
                            <option *ngFor="let node of nodeData" [ngValue]="node.id">{{node.title}}</option>
                        </select>
                        <div class="form-control-feedback text-danger"
                            *ngIf="toDropdown.errors && (toDropdown.dirty || toDropdown.touched)">
                            <p *ngIf="toDropdown.errors.required">Module Type is required</p>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="edgeForm.invalid">Add Edge
                </button>
            </form>
        </div>
    </div>
</div>
<hr>

<!-- graph container/element -->
<div class='visNetwork' id="visNetwork" #visNetwork></div>

<!-- right click context menu -->
<div class="contextMenu" [hidden]='!showContext' #contextMenu>
    <div class="action">Actions</div>
    <li (click)='softDeleteNode()'>
        <i class="fa fa-minus-square-o" aria-hidden="true"></i> Soft Delete
    </li>
    <li (click)='deleteNode()'>
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </li>
    <li (click)='detachNode()'>
        <i class="fa fa-ban" aria-hidden="true"></i> Detach
    </li>
</div>