<hr>
<div class="col-xs-12 col-sm-12 col-lg-12 text-center">
    <button (click)='setGraph()' type="button" class="btn btn-primary mx-2 reset" > Reset Graph</button>

    <button (click)='onRemoveGraph()' type="button" class="btn btn-primary remove"> Remove Graph</button>

</div>
<div class='visNetwork' id="visNetwork" #visNetwork></div>


<div class="contextMenu" [hidden]='!showContext' #contextMenu>
    <div class="action">Actions</div>
    <li (click)='deleteNode()'>
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </li>
    <li (click)='detachNode()'>
        <i class="fa fa-minus-square-o" aria-hidden="true"></i> Detach
    </li>
</div>