<hr>
<div class="col-xs-12 col-sm-12 col-lg-12 text-center">
    <button (click)='setGraph()' type="button" class="btn btn-primary mx-2 reset" > 
        <i class="fa fa-repeat mx-1" aria-hidden="true"></i>Reset Graph</button>

    <button (click)='onRemoveGraph()' type="button" class="btn btn-primary mx-2 remove"> 
        <i class="fa fa-minus-circle mx-1" aria-hidden="true"></i>Remove Graph</button>

    <button (click)='export()' type="button" class="btn btn-primary mx-2 export"> 
        <i class="fa fa-download mx-1" aria-hidden="true"></i>Export Graph</button>

    <button (click)='saveVersion()' type="button" class="btn btn-primary save"> 
        <i class="fa fa-floppy-o mx-1" aria-hidden="true"></i>Save Graph Version</button>


</div>
<div class='visNetwork' id="visNetwork" #visNetwork></div>


<div class="contextMenu" [hidden]='!showContext' #contextMenu>
    <div class="action">Actions</div>
    <li (click)='softDeleteNode()'>
        <i class="fa fa-minus-square-o" aria-hidden="true"></i> Soft Delete
    </li>
    <li (click)='deleteNode()'>
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </li>
    <li (click)='detachNode()'>
        <i class="fa fa-ban" aria-hidden="true"></i> Detach
    </li>
</div>